<!-- Section hero -->
<section class="banner_header">
  <img src="/images/Banner.png" alt="Banner image">
  <div class="banner__title">
    <h2>User Profile</h2>
  </div>

</section>

<!-- Section Signup -->
<section class="user_profile">
  <div class="form__content container container--pall">

    <form class="form__box" id="user_form" onsubmit=" event.preventDefault(); onUserFormSubmit();" method=" POST"
      action="/users/userprofile">
      <fieldset>
        <legend>User info </legend>

        <%- include ("./partials/messages"); %>
        <div class="form__content">
          <input type="text" id="fname" name="fname" placeholder="First Name" required autofocus
            value="<%=user.fname%>">
          <input type="text" id="lname" name="lname" placeholder="Last Name" required value="<%=user.lname%>">
          <input type="tel" id="mobile" name="mobile" placeholder="Mobile" required pattern="[0-9]{10}"
            title=" Example: 0855642278 and no min that 10 number" value="<%=user.mobile%>">
          <input type="email" id="email" name="email" placeholder="Email" required value="<%=user.email%>">
          <input type="password" id="password" name="password" placeholder="Password">
          <input type="text" id="address" name="address" placeholder="Address" required value="<%=user.address%>">
          <div class="edit__user">
            <input class="form_btn " type="submit" value="Update Profile" id="user__edit-btn">
            <input class="form_btn" type="submit" value="Delete Account" id="user__delete-Btn">
          </div>

        </div>
      </fieldset>
    </form>

    <div class="user__appointment table-container">
      <h4 id="u__appointment-title">Your appointments</h4>
      <table class="list" id="user__appointment-List">
        <!--table header-->
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <!--table data-->
          <tr>
            <td>25-03-2021</td>
            <td>13.30</td>
            <td><a href="#" class="delete"><i class=" fas fa-trash-alt"></i></a></td>
          </tr>
          <tr>
            <td>25-03-2021</td>
            <td>13.30</td>
            <td><a href="#" class="delete"><i class=" fas fa-trash-alt"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>